<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "in.code123.maze"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>迷宫</name>

    <description>
        一个简单的迷宫游戏
    </description>

    <author href="http://www.code123.in" email="nile.black@qq.com">
        code123.in
    </author>

</widget>
